{% extends 'base.html' %}

{% block content %}
<div class="body">
	<h1>{{ page_info.get_h1 }}</h1>
	{% if object.get_image_url %}
		{% include 'components/images_block.html' %}
	{% endif %}

	<div style="padding-block: 1rem;">
		{% include 'core/generic/components/generic_description_block.html' %}
	</div>

	{% block special_content %}
	{% endblock %}
</div>

<style>
	main {
		padding-top: 2rem;
		padding-bottom: 12rem;

		.body {
			width: 45vw;
			margin-inline: auto;
		}
	}
</style>
{% endblock %}
